
/****** Navigation and Links ******/
.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  gap: 10px;
}
.nav-container a:hover {
  background: #ddd;
  color: black;
}
.itemNavigation {
  font-size: 20px;
  padding: 2rem;
  
}
.logo {
  font-size: 30px;
  font-weight: bold;
  margin-right: auto;
  margin-left: 2rem;
}

/****** Video *******/

.video-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: black;
  align-items: center; /* Centers children horizontally */
  justify-content: center;
}

.itemVideo {
  margin: 10px 0;
  flex: 1; 
}
#background-video {
  max-width: 99.9%;
}
#background-audio {
}

















@media (max-width: 720px) {
  /* Navigation */
  .nav-container  {
    flex-direction: column;
  }
  .itemNavigation {
    font-size: 15px;
    flex-basis: 5px;
    width: 300px;
    text-align: center;
  }
  .logo {
   margin-right: 2rem;
  }


  /* Video and Audio */
}