html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  box-sizing: border-box;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 92vh; /* Full viewport height */
  overflow: hidden;
}
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.audio-controls {
  position: relative;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); /* Provides a semi-transparent background for visibility */
  padding: 5px 0; /* Adds padding to audio controls */
}
audio {
  width: 100%; /* Ensures audio controls span the width of the video */
  height: 15px; /* Ensures audio bar is visually appealing */
}

/* ************ Band members section styling ********/
#h2 {
  font-size: 2.5em; /* Makes the font size much larger */
  font-weight: bold; /* Increases the weight of the font for emphasis */
    text-transform: uppercase; /* OPTIONAL: makes all letters uppercase */
    color: black; /* Sets a dark color for contrast, adjust as necessary */
    text-align: center; 
}

/* Base styles */
*, *:before, *:after {
  box-sizing: border-box;
}

.column {
  width:25%; /* Start with four columns in larger screens */
  margin-bottom: 16px;
  padding: 0 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 10px 20px;
}

@media screen and (max-width: 767px) {
  .column {
      flex-basis: 100%; /* Full width on smaller screens */
      padding: 0 15px; /* Increase padding for smaller screens */
  }
}

/*img {
  width: 200px;
  height: 300px;
}*/


/* This is for the Table section  */

table, td, th {
  border: 1px solid grey;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}
th {
  text-align: center;
}

footer {
  margin-top: auto;
}

h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;      
  font-size: 20px;
  color: #111;
}

/*------ This is the Navbar section----*/
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

/*------------------------Store-------------------------*/

#storeBody, #cartBody {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

#storeBody > *, #cartBody > * {
  padding: 20px;
  flex: 100%;
}

#storeHeader {
  padding-bottom: 30px;
  color: black;
}

.storeSidebar {
	background: rgb(66, 66, 69);
  font-family: Montserrat, sans-serif;
}

.storeSidebar > ul {
  display: flex;
  list-style: none;
  text-align: start;
  justify-content: space-around;
  padding-left: 0;
}

.storeSidebar > ul li a {
  text-decoration: none;
  color: #dfdfdf;
}

.storeSidebar > ul li a:hover {
  color: white;
}

.store {
  margin: 2em;
}

.storeContainer > button {
  background: rgb(66, 66, 69);
  font-family: Montserrat, sans-serif;
  border: none;
  padding: 1em;
  margin: 0;
  color: white;
  width: 100%;
  text-align: left;
  font-size: x-large;
}

.storeContainer > button:hover {
  background: rgb(42, 42, 47);
}

.storeContainer > ul {
  list-style: none;
  display: grid;
  justify-content: center;
  background: rgb(226, 226, 229);
  grid-gap: 1.5em;
  margin: 0;
}

.storeCollapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.store {
  display: grid;
  grid-template-rows: minmax(1em, auto) auto 1fr auto minmax(1em, auto);
}

.storeContainer > ul li {
  background: white;
  border: thin solid gray;
  height: 314px;
  width: 270px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#cart {
  height: 40px;
  font-size: 22px;
  text-decoration: none;
  margin-top: 10px;
  color: rgb(46, 46, 49);
  text-align: end;
}

.cost {
  color: rgb(75, 75, 75);
  float: left;
  margin-left: 15px;
  font-size: large;
}

.size {
  width: 20%;
  margin-left: 50px;
  font-size: 18px;
  color: gray;
  background: white;
  border: thin solid darkgray;
  height: 30px;
  margin-right: -15px;
}

.addToCart {
  color: rgb(75, 75, 75);
  background: white;
  border: thin solid darkgray;
  height: 30px;
  float: right;
  margin-right: 5px;
}

.addToCart:hover {
  background: rgb(244, 244, 250);
}

.addToCart:active {
  background: rgb(224, 224, 230);
}

.collapsibleButton:after { /*add plus/minus to button for collapsible*/
  content: "−";
  font-size: 24px;
  font-weight: bold;
  color: white;
  float: right;
  margin-right: 13px;
}
  
.collapsibleButton.active:after {
  content: "+";
}

.productImg {
  height: 270px;
}

.comingSoonNotice {
  line-height: 300px;
}

@media screen and (min-width: 767px) {
  .storeContainer > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .storeContainer > ul li {
    margin-left: 15px;
  }

  .storeSidebar > ul {
    text-align: center;
    padding: 0;
  }

  .storeSidebar > ul li {
    padding: 4px;
  }

	.store {
		display: grid;
		grid-template-columns: 1fr 10em repeat(5, minmax(auto, 15em)) 1fr;
		grid-template-rows: minmax(1em, auto) auto 1fr auto minmax(1em, auto);
	}

  #storeHeader {
    grid-column: 2/6;
    text-align: start;
  }

  .storeSidebar > ul {
    margin-top: 40px;
    display: block;
    margin-left: 0;
  }

  #cart {
    grid-column: 7/7;
    padding-top: 0.8em;
  }
  
	.storeContainer {
    margin-left: 2em;
		grid-column: 3/8;
	}

	.storeSidebar {
		grid-column: 2/2;
	}
}
/*------------------------------------------------------*/

/*-------------------------Cart-------------------------*/
.cart {
  display: grid;
  grid-template-rows: minmax(1em, auto) auto 1fr auto minmax(1em, auto);
  margin: 2em;
}

.cartContainer {
  background: rgb(226, 226, 229);
}

#cartHeader {
  background: rgb(66, 66, 69);
  color: white;
  padding: 20px;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  text-align: start;
}

.cartContainer > ul {
  list-style: none;
  display: grid;
}

.cartContainer > ul button {
  width: 35px;
  margin-top: 10px;
  grid-column: 3/3;
  background: white;
  border: thin solid darkgray;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cartContainer > ul button:hover {
  background: rgb(244, 244, 250);
}

.cartContainer > ul button:hover {
  background: rgb(224, 224, 230);
}

.cartContainer > ul li {
  grid-column: 2/2;
  font-size: large;
  margin-top: 10px;
  background: white;
  padding: 7px;
  border: thin solid darkgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#checkout {
  grid-column: 3/3;
  color: rgb(75, 75, 75);
  background: white;
  border: thin solid darkgray;
  height: 38px;
  font-size: large;
  float: inline-end;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#checkout:hover {
  background: rgb(244, 244, 250);
}

#checkout:active {
  background: rgb(224, 224, 230);
}

#emptyCart {
  line-height: 170px;
  padding: 0;
}

#backToStore {
  width: 130px;
  font-size: 22px;
  text-decoration: none;
  margin-top: 10px;
  color: rgb(46, 46, 49);
  text-align: start;
}

@media screen and (min-width: 767px) {

	.cart {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 30em) 1fr;
		grid-template-rows: minmax(1em, auto) auto 1fr auto minmax(1em, auto);
	}

  #cartHeader {
    grid-column: 2/2;
  }

  .cartContainer {
    grid-column: 2/2;
  }

  #backToStore {
    grid-column: 2/2;
  }
}
/*------------------------------------------------------*/